---
import MetaLayout from "../layouts/astro_props_component.astro";
import PageLayout from "../components/common";
import CTAForm from "../components/cta-form";
---

<MetaLayout
    title="Home Page"
    favicon="/favicon.svg"
    description="This is the main page of Some Company"
    keywords="company, services, main"
>
    <PageLayout client:only>
        <main>
            <CTAForm client:only/>
        </main>
    </PageLayout>
</MetaLayout>